@media (pointer: fine) {
	* {
		scrollbar-width: thin;
		scrollbar-color: currentColor transparent;

		@supports (color: color-mix(in lab, red, red)) {
			scrollbar-color: color-mix(in oklab, currentColor 13%, transparent) transparent;
		}
	}

	@media (hover: hover) {
		.cms-sidebar:not(:hover) .scroll,
		.cms-inspector:not(:hover) :is(.scroll, .strip) {
			scrollbar-color: transparent transparent;
		}
	}
}
